.sub__header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 10px;
  padding: 5px; }
  .sub__header-list {
    display: flex; }
    .sub__header-list-item:nth-child(1) {
      border-right: 1px solid rgba(157, 157, 157, 0.258); }

.main__header {
  width: 100%;
  border-top: 1px solid rgba(157, 157, 157, 0.258);
  margin: 0 auto; }
  .main__header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; }
    .main__header-img img {
      height: 40px; }
    .main__header-img img:nth-child(2) {
      height: 50px;
      padding-left: 5px; }

.header__nuv {
  width: 70%;
  margin: auto; }
  .header__nuv-list {
    display: flex;
    justify-content: space-between;
    font-family: serif;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 15px; }

.main__slide {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  position: relative; }
  .main__slide-img {
    width: 80%; }
    .main__slide-img img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .main__slide-img-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      position: absolute;
      bottom: 1px;
      background-color: rgba(0, 0, 0, 0.58);
      height: 60px;
      width: 50%;
      color: white;
      font-size: 18px;
      padding: 10px;
      line-height: 25px;
      overflow: hidden; }

.section {
  height: 100%;
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between; }
  .section__wrapper {
    width: 60%;
    border-right: 1px solid rgba(128, 128, 128, 0.76);
    padding-right: 3%; }
    .section__wrapper-title {
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.76); }
    .section__wrapper-data {
      font-size: 10px;
      color: rgba(128, 128, 128, 0.76);
      padding-left: 5px; }
    .section__wrapper-item {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(157, 157, 157, 0.258);
      height: 120px; }
      .section__wrapper-item-img {
        width: 180px;
        height: 100px;
        object-fit: cover; }
      .section__wrapper-item-text {
        font-size: 14px;
        padding: 10px;
        line-height: 20px;
        width: 100%;
        position: relative;
        top: 0; }
        .section__wrapper-item-text-sub {
          display: flex;
          width: 96%;
          align-items: flex-end;
          justify-content: space-between;
          font-size: 10px;
          position: absolute; }
          .section__wrapper-item-text-sub .sub_text2 {
            color: rgba(128, 128, 128, 0.76); }
  .section .more_btn {
    text-align: center;
    width: 100%;
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #f29b8a;
    color: #f27961;
    font-weight: bold; }
    .section .more_btn:hover {
      color: white;
      background-color: #f29b8a; }
  .section__aside {
    width: 37%; }
    .section__aside-ad {
      font-size: 40px;
      height: 600px;
      border: 1px solid #000; }
      .section__aside-ad-2 {
        font-size: 40px;
        height: 250px;
        border: 1px solid #000;
        margin-top: 20px; }
    .section__aside-new-title {
      font-size: 17px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 10px; }
    .section__aside-new-item {
      display: flex;
      align-items: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border-top: 1px solid rgba(157, 157, 157, 0.258); }
      .section__aside-new-item-img {
        width: 40%;
        height: 90px;
        object-fit: contain; }
      .section__aside-new-item-text {
        font-size: 13px;
        padding-left: 20px;
        line-height: 15px; }
        .section__aside-new-item-text .pr-text {
          font-size: 10px;
          padding-top: 5px;
          color: rgba(128, 128, 128, 0.76); }
    .section__aside-new-item:nth-child(2) {
      border-top: 1px solid rgba(128, 128, 128, 0.76); }
    .section__aside-new .more_btn-mini {
      border: 1px solid rgba(128, 128, 128, 0.76);
      padding: 12px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px; }
      .section__aside-new .more_btn-mini:hover {
        background-color: rgba(128, 128, 128, 0.76);
        color: white; }
    .section__aside-ranking-title {
      font-size: 17px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 10px; }
    .section__aside-ranking-item {
      display: flex;
      align-items: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border-top: 1px solid rgba(157, 157, 157, 0.258); }
      .section__aside-ranking-item-img {
        width: 100%;
        position: relative;
        top: 0; }
        .section__aside-ranking-item-img .rankingImg {
          width: 100%;
          height: 70px;
          object-fit: cover; }
        .section__aside-ranking-item-img .imgNumver {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 0;
          left: 0; }
      .section__aside-ranking-item-text {
        font-size: 13px;
        padding-left: 20px;
        line-height: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
    .section__aside-picup-title {
      font-size: 17px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 10px; }
    .section__aside-picup-list {
      width: 100%;
      padding-left: 20px;
      border-top: 1px solid rgba(128, 128, 128, 0.76);
      padding-top: 10px; }
      .section__aside-picup-list-item {
        padding-bottom: 10px;
        font-size: 12px;
        list-style: disc; }
    .section__aside-info {
      margin-top: 20px;
      border-top: 1px solid rgba(128, 128, 128, 0.76); }
      .section__aside-info img {
        width: 100%;
        padding-top: 20px; }
  .section .more_btn-mini {
    border: 1px solid rgba(128, 128, 128, 0.76);
    padding: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px; }
    .section .more_btn-mini:hover {
      background-color: rgba(128, 128, 128, 0.76);
      color: white; }

.footer__wrap {
  width: 100%;
  padding-top: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.76); }
  .footer__wrap-title {
    padding-bottom: 20px;
    color: #6b6969; }
  .footer__wrap-list {
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(157, 157, 157, 0.258); }
    .footer__wrap-list-item {
      font-size: 12px;
      padding: 10px;
      color: rgba(128, 128, 128, 0.76);
      display: inline-block; }

.footer__sub {
  margin-top: 20px; }
  .footer__sub-list {
    display: flex;
    justify-content: center; }
    .footer__sub-list-item {
      padding: 10px;
      font-size: 14px;
      color: rgba(128, 128, 128, 0.76); }
  .footer__sub-list2 {
    display: flex;
    list-style: none;
    justify-content: center; }
    .footer__sub-list2-item {
      padding: 10px;
      font-size: 14px;
      color: rgba(128, 128, 128, 0.76); }
    .footer__sub-list2-min {
      font-size: 10px;
      color: rgba(128, 128, 128, 0.76);
      text-align: center;
      padding-top: 20px;
      padding-bottom: 50px; }

* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-appearance: none; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  width: 1000px;
  margin: 0 auto; }
  .header .header_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center; }
    .header .header_title .header_title-img {
      width: 100px; }
    .header .header_title .header_text {
      font-size: 16px;
      font-weight: bold;
      padding-top: 8px; }

.main {
  width: 80vw;
  margin: 100px auto; }
  .main .main_title {
    text-align: center;
    font-size: 22px;
    padding-bottom: 40px; }
  .main .main_service {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap; }
    .main .main_service .service_item {
      border-radius: 5px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 24vw;
      height: 100%;
      border: 1px solid #000;
      padding: 10px; }
      .main .main_service .service_item .service_item-img {
        max-width: 230px;
        width: 100%;
        height: 40px;
        object-fit: contain;
        cursor: pointer;
        transition: all 0.3s; }
        .main .main_service .service_item .service_item-img:hover {
          opacity: 0.7; }

.page_top {
  width: 100%;
  text-align: center; }
  .page_top .page_top-img {
    width: 70px;
    height: 100%; }

.footer {
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.196);
  width: 100%; }
  .footer .footer_list {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    align-items: center; }
    .footer .footer_list .footer_list-item {
      height: 12px;
      cursor: pointer;
      font-size: 11px;
      margin-right: 20px; }
      .footer .footer_list .footer_list-item:hover {
        border-bottom: 1px solid #000; }
  .footer .footer_text {
    font-size: 11px;
    color: #666;
    text-align: center;
    padding: 20px 0px 40px 0px; }

@media screen and (max-width: 1024px) {
  .main {
    width: 90vw; }
  .service_item {
    width: 40vw; } }

@media screen and (max-width: 760px) {
  .main {
    width: 100vw; }
  .service_item {
    width: 100vw; }
  .footer_list {
    flex-direction: column;
    padding-top: 0px;
    text-align: center; }
    .footer_list .footer_list-item {
      margin-bottom: 20px; } }
