* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-appearance: none; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  width: 1000px;
  margin: 0 auto; }
  .header .header_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center; }
    .header .header_title .header_title-img {
      width: 100px; }
    .header .header_title .header_text {
      font-size: 16px;
      font-weight: bold;
      padding-top: 8px; }

.main {
  width: 1000px;
  margin: 100px auto; }
  .main .main_title {
    text-align: center;
    font-size: 22px; }
  .main .main_service {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap; }
    .main .main_service .service_item {
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 30px;
      cursor: pointer;
      padding: 8px 20px; }
      .main .main_service .service_item .service_item-img {
        width: 270px;
        height: 40px;
        object-fit: contain;
        transition: all 0.3s; }
        .main .main_service .service_item .service_item-img:hover {
          opacity: 0.7; }

.page_top {
  width: 70px;
  margin: auto; }
  .page_top .page_top-img {
    width: 100%;
    height: 100%; }

.footer {
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.196); }
  .footer .footer_list {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: auto;
    padding-top: 40px; }
    .footer .footer_list .footer_list-item {
      height: 12px;
      cursor: pointer;
      font-size: 11px; }
      .footer .footer_list .footer_list-item:hover {
        border-bottom: 1px solid #000; }
  .footer .footer_text {
    font-size: 11px;
    color: #666;
    text-align: center;
    padding: 20px 0px 40px 0px; }
