* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-appearance: none; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

img {
  max-width: 100%;
  height: auto; }

.test {
  color: red; }
  .test .bb {
    color: blue; }
