// responsive mixin

@mixin pcWide {
  @media screen and (max-width: #{$pc-wide}) {
    @content;
  }
}

@mixin ipad {
  @media screen and (max-width: #{$ipad-width}) {
    @content;
  }
}

@mixin iphoneLarge {
  @media screen and (max-width: #{$iphone-plus}) {
    @content;
  }
}

@mixin iphoneMiddle {
  @media screen and (max-width: #{$iphone6}) {
    @content;
  }
}

@mixin iphoneSmall {
  @media screen and (max-width: #{$iphone5-width}) {
    @content;
  }
}