.sub__header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 10px;
  padding: 5px;

  &-list {
    display: flex;

    &-item:nth-child(1) {
      border-right: 1px solid $color-border;
    }
  }
}

.main__header {
  width: 100%;
  border-top: 1px solid $color-border;
  margin: 0 auto;

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    & img {
      height: 40px;
    }
    & img:nth-child(2) {
      height: 50px;
      padding-left: 5px;
    }
  }
}

.header__nuv {
  width: 70%;
  margin: auto;

  &-list {
    display: flex;
    justify-content: space-between;
    font-family: serif;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 15px;
  }
}

.main__slide {
  height: 400px;
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;


  &-img {
    width: 80%;
    .slider .slick-center img {
      opacity: 1;
      transform: scale(1);
    }

    & img {
      padding: 20px;
      width: 100%;
      height: 400px;
      object-fit: cover;
      position: relative;
      top: 0;
      transition:all 0.3s;

      &:hover{
        opacity: .4;
      }  
    }

    & span{
      display: inline-block;
      font-size: 30px;
      height: 100px;
      background-color: rgba(128, 128, 128, 0.549);
      z-index: 2;
      position: absolute;
      top:70%;
      margin-left: 20px;
      color: white;
      font-size: 20px;
      line-height: 40px;
    }

    

    // &-text {
    //   display: -webkit-box;
    //   -webkit-box-orient: vertical;
    //   -webkit-line-clamp: 2;
    //   position: absolute;
    //   bottom: 1px;
    //   background-color: rgba(0, 0, 0, 0.58);
    //   height: 60px;
    //   width: 50%;
    //   color: white;
    //   font-size: 18px;
    //   padding: 10px;
    //   line-height: 25px;
    //   overflow: hidden;
    // }
  }
}

.section {
  height: 100%;
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    width: 60%;
    border-right: 1px solid $color-gray;
    padding-right: 3%;

    &-title {
      font-size: $mini-title;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-gray;
    }

    &-data {
      font-size: 10px;
      color: $color-gray;
      padding-left: 5px;
    }


    &-item {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border;
      height: 120px;


      &-img {
        width: 180px;
        height: 100px;
        object-fit: cover;
      }

      &-text {
        font-size: 14px;
        padding: 10px;
        line-height: 20px;
        width: 100%;
        position: relative;
        top: 0;

        &-sub {
          display: flex;
          width: 96%;
          align-items: flex-end;
          justify-content: space-between;
          font-size: 10px;
          position: absolute;

          .sub_text2 {
            color: $color-gray;
          }
        }
      }
    }
  }
  .more_btn {
    text-align: center;
    width: 100%;
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #f29b8a;
    color: #f27961;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: #f29b8a;
    }
  }

  &__aside {
    width: 37%;

    &-ad {
      font-size: 40px;
      height: 600px;
      border: 1px solid #000;
      &-2 {
        font-size: 40px;
        height: 250px;
        border: 1px solid #000;
        margin-top: 20px;
      }
    }

    &-new {
      &-title {
        font-size: $mini-title;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      &-item {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top: 1px solid $color-border;

        &-img {
          width: 40%;
          height: 90px;
          object-fit: contain;
        }

        &-text {
          font-size: 13px;
          padding-left: 20px;
          line-height: 15px;

          .pr-text {
            font-size: 10px;
            padding-top: 5px;
            color: $color-gray;
          }
        }
      }
      &-item:nth-child(2) {
        border-top: 1px solid $color-gray;
      }
      .more_btn-mini {
        border: 1px solid $color-gray;
        padding: 12px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        &:hover {
          background-color: $color-gray;
          color: white;
        }
      }
    }
    &-ranking {
      &-title {
        font-size: $mini-title;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      &-item {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top: 1px solid $color-border;

        &-img {
          width: 100%;
          position: relative;
          top: 0;

          .rankingImg {
            width: 100%;
            height: 70px;
            object-fit: cover;
          }
          .imgNumver {
            width: 20px;
            height: 20px;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        &-text {
          font-size: 13px;
          padding-left: 20px;
          line-height: 18px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
    &-picup{
      &-title{
        font-size: $mini-title;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;

      }

      &-list{
       width: 100%;
       padding-left: 20px;
       border-top: 1px solid $color-gray;
       padding-top: 10px;

       &-item{
        padding-bottom: 10px;
        font-size: 12px;
        list-style:disc
       }
      }   
    }

    &-about{
      padding-top: 30px;
      &-sns{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icon{
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: #f29b8a;
          position: relative;
          top: 0;
          p{
            font-size: 10px;
            position: absolute;
            top: 60px;
            text-align: center;
            width: 60px;
            padding-top: 3px;
          }
        }
      }
      &-title{
        font-size: $mini-title;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gray;
        &-text{
          font-size: 14px;
          line-height: 25px;
          padding-top: 10px;
        }
      }   
    }

    &-info{
      margin-top: 20px;
      border-top: 1px solid
      $color-gray;
      height: 300px;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    
      &-img{
        display: block;
        width: 100%;
        padding-top: 20px;
      }
    }
  }


  .more_btn-mini {
    border: 1px solid $color-gray;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    &:hover {
      background-color: $color-gray;
      color: white;
    }
  }
  
}

.footer__wrap{
  width: 100%;
  padding-top: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  border-top: 1px solid $color-gray;
  &-title{
    padding-bottom: 20px;
    color: rgb(107, 105, 105);
  }
  &-list{
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-border;
   &-item{
    font-size: 12px;
    padding: 10px;
    color: $color-gray;
    display: inline-block;
   }
  }
}

.footer__sub{
  margin-top: 20px;
 &-list{
  display: flex;
  justify-content: center;
  &-item{
    padding: 10px;
    font-size: 14px;
    color: $color-gray;
  }
 }

 &-list2{
  display: flex;
  list-style: none;
  justify-content: center;
  &-item{
    padding: 10px;
    font-size: 14px;
    color: $color-gray;
  }
  &-min{
    font-size: 10px;
    color: $color-gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
 }
}

.is-fixed{
  position: fixed;
  top: 0;
  width: 330px;
}



