//-------------------------------------------------
// グリッドサイズ
//-------------------------------------------------
$pc-wide: 1519px;
$ipad-width: 1024px;
$iphone-plus: 414px;
$iphone6: 375px;
$iphone5-width: 320px;
$media:760px;

//news
$color-border: rgba(157, 157, 157, 0.258);
$color-gray: rgba(128, 128, 128, 0.76);

//hover
@mixin hoverButton{
  box-shadow: 0 20px 80px rgba(0, 0, 0, .2);
}