@import "setting";
@import "mixin";

//font
$hiragino: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;

// 全体
* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-appearance: none;
}

// iosデフォルトのスタイル解消
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
}

.test {
  color: red;

  .bb{
    color: blue;
  }
}