@import "setting";
@import "mixin";

//font
$hiragino: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;

// 全体
* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-appearance: none;
}

// iosデフォルトのスタイル解消
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
}

.header{
 width: 1000px;
 margin: 0 auto;

 .header_title{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:start;
  align-items: center;

  .header_title-img{
    width: 100px;
  }

  .header_text{
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
  }
 }

}

.main {
  width: 1000px;
  margin: 100px auto;

  .main_title{
    text-align: center;
    font-size: 22px;
  }

  .main_service{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
    

    .service_item{
      border: 1px solid #000;
      border-radius: 5px;
      margin-bottom: 30px;
      cursor: pointer;
      padding: 8px 20px;

      .service_item-img{
        width: 270px;
        height: 40px;
        object-fit: contain;
        transition: all 0.3s;
        &:hover{
          opacity: 0.7;
       }
      }
    } 
  }
}

.page_top{
  width: 70px;
  margin: auto;
  .page_top-img{
    width: 100%;
    height: 100%;
  }
}

.footer {
  margin-top: 50px;
  background-color: rgba(128, 128, 128, 0.196);

  .footer_list{
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin:auto; 
    padding-top: 40px;

    .footer_list-item{
      height: 12px;
      cursor: pointer;
      font-size: 11px;
      &:hover{
        border-bottom: 1px solid #000;
      }
    }
    
  }

  .footer_text{
    font-size: 11px;
    color: #666;
    text-align: center;
    padding: 20px 0px 40px 0px;
  }
}